In [1]:
from geopy.distance import geodesic
from math import sin, asin, cos, radians, fabs, sqrt
import math
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook as tqdm

In [2]:
def get_distance(lat1, long1, lat2, long2):
    EARTH_RADIUS = 6372422
    lat1 = lat1*math.pi/180
    long1 = long1*math.pi/180
    lat2 = lat2*math.pi/180
    long2 = long2*math.pi/180
    diff_long = long1-long2
    diff_lat = lat1-lat2
    a = np.sin(diff_lat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(diff_long/2)**2
    c = 2 * np.arcsin(np.sqrt(a))
    d = EARTH_RADIUS*c
    return d

In [4]:
grid_df = pd.read_excel('/SH_travel/pc/grid_loc.xlsx')

In [16]:
res = []
for i in tqdm(range(1, len(grid_df))):
    lat1, long1 = np.array([grid_df['lat'][i-1]]*(len(grid_df)-i)), np.array([grid_df['long'][i-1]]*(len(grid_df)-i))
    lat2, long2 = np.array(grid_df['lat'][i:]), np.array(grid_df['long'][i:])
    d = get_distance(lat1, long1, lat2, long2)
    res.append([0]*i+list(d))
res.append([0]*len(grid_df))

res = pd.DataFrame(res)
res.columns = list(grid_df['grid'])
res.index = list(grid_df['grid'])
res.head(10)

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

C:\Users\ADMINI~1\AppData\Local\Temp\2/ipykernel_15160/435762545.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tqdm(range(1, len(grid_df))):

  0%|          | 0/7354 [00:00<?, ?it/s]

,42,43,56,57,152,153,154,155,156,157,...,14230,14231,14232,14233,14337,14338,14339,14340,14341,14342
42,0,996.581294,13951.218778,14947.657786,1001.538314,1412.617307,2230.291963,3152.643775,4109.782121,5082.084299,...,129204.314154,129191.757115,129186.884851,129189.698000,130288.710852,130253.377619,130225.660135,130205.563039,130193.089631,130188.241875
43,0,0.000000,12954.637484,13951.076492,1413.151726,1001.528236,1412.602448,2230.268702,3152.611158,4109.739804,...,129223.261346,129203.019231,129190.459803,129185.585074,130330.357744,130287.412630,130252.077223,130224.357489,130204.258067,130191.782258
56,0,0.000000,0.000000,996.439008,13987.497643,12993.670158,12000.309294,11007.538685,10015.530889,9024.534155,...,130165.356742,130046.020969,129934.218444,129829.968399,131559.160228,131418.408771,131285.071256,131159.170071,131040.726428,130929.760341
57,0,0.000000,0.000000,0.000000,14981.549167,13987.355906,12993.538398,12000.187529,11007.426935,10015.429169,...,130290.892544,130164.042780,130044.705713,129932.901817,131705.982493,131557.839625,131417.087076,131283.748394,131157.845968,131039.401008
152,0,0.000000,0.000000,0.000000,0.000000,996.580841,1993.151676,2989.712482,3986.263233,4982.803907,...,128202.886161,128190.244041,128185.346745,128188.194929,129287.886230,129252.292331,129224.373073,129204.133201,129191.576098,129186.703773
153,0,0.000000,0.000000,0.000000,0.000000,0.000000,996.570835,1993.131641,2989.682393,3986.223066,...,128221.988475,128201.601291,128188.956796,128184.057047,129329.862532,129286.598019,129251.001961,129223.080467,129202.838284,129190.278792
154,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,996.560806,1993.111557,2989.652230,...,128248.831400,128220.702770,128200.313289,128187.666419,129379.500753,129328.573245,129285.306649,129249.708432,129221.784703,129201.540209
155,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,996.550752,1993.091425,...,128283.409845,128247.544782,128219.413932,128199.022154,129436.791846,129378.210311,129327.280797,129284.012120,129248.411746,129220.485783
156,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,996.540673,...,128325.717321,128282.122235,128246.255031,128218.121962,129501.725419,129435.500169,129376.916707,129325.985189,129282.714432,129247.111901
157,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,128375.745951,128324.428640,128280.831491,128244.962146,129574.289750,129500.432430,129434.205330,129375.619942,129324.686422,129281.413586

In [21]:
res.to_csv('/SH_travel/pc/grid_distance_od.csv')